.display{
    margin-top: 2rem;
    

}
button:hover{
    background-color: blueviolet;
}
#stuff{
    margin-top: 2rem;
}

.container{
    margin-top: 8rem;
    /* margin-left: 35rem; */
    border: 3px solid black;
    height: 20rem;
    width: 15rem;
text-align: center;
background-color: grey;
};




